#technology-section {

}


#technology-section .section--imaged {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .85)), url('../images/technologies.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}