.button {
  display: inline-block;
  padding: 8px 16px;

  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0.25em;
  outline: none;

  transition: all 0.2s;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #000000;
  }
}

// Modifiers

.button {

  &--transparenty {
    background-color: transparent;
  }

  &--blacky {
    border-color: #000000;
    color: #ffffff;
    background-color: #000000;

    &:hover,
    &:focus {
      color: #000000;
      background-color: #ffffff;
    }
  }
}
