 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.u-text-center {
  text-align: center !important;
}

.u-img-fluid {
  object-fit: cover;
  object-position: center center;
}

.u-w-60 {
  width: 60% !important;
}

.u-mb-1 {
  margin-bottom: 0.25rem !important;
}

.u-mb-2 {
  margin-bottom: 0.5rem !important;
}

.u-mb-3 {
  margin-bottom: 1rem !important;
}

 .u-mb-4 {
   margin-bottom: 1.5rem !important;
 }

.u-mb-5 {
  margin-bottom: 3rem !important;
}

.u-mx-0 {
  margin-left: auto !important;
  margin-right: auto !important;
}