:root {

  --primary-font-color: #06030A;
  --secondary-font-color: #878787;

  --font-family: 'Montserrat', sans-serif;
  --font-family-alt: 'Montserrat Alternates', sans-serif;
  --font-family-icon: 'iconfont';

  --primary-color: #0275d8;
  --warning-color: #FE551E;
  --danger-color: #a20f2b;

  --btn-bgc: var(--warning-color);
  --btn-bgc-h: #fe9955;
  --btn-color: #fff;

}


$_ : unquote('*'); // для возможности игнрировать * для плагина postcss-short