@font-face {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff');
  font-display: block;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-family: var(--fontfamily-icon);
  font-size: inherit / 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: none;

  &[data-icon]::before {
     content: attr(data-icon);
     speak: none;
   }
}

[class*="icon--"]:before {
  font-family: var(--fontfamily-icon);
}


.icon--email:before {
  content: "\ea01";
  speak: none;
}

.icon--facebook:before {
  content: "\ea02";
  speak: none;
}

.icon--left-quote:before {
  content: "\ea03";
  speak: none;
}

.icon--right-quote:before {
  content: "\ea04";
  speak: none;
}

.icon--telegram:before {
  content: "\ea05";
  speak: none;
}