@font-face {
  font-family: '<%= fontName %>';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/<%= fontName %>.woff2') format('woff2'),
       url('../fonts/<%= fontName %>.woff') format('woff');
  font-display: block;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-family: var(--fontfamily-icon);
  font-size: inherit / 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: none;

  &[data-icon]::before {
     content: attr(data-icon);
     speak: none;
   }
}

[class*="icon--"]:before {
  font-family: var(--fontfamily-icon);
}

<% _.each(glyphs, function(icon){ %>
.icon--<%= icon.name %>:before {
  content: "\<%= icon.unicode[0].charCodeAt(0).toString(16) %>";
  speak: none;
}
<% }) %>