#environment-section {
  background-image:  url('../images/environment.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


#environment-section .section--colored {
  background-color: rgba(255, 255, 255, 0.75);
}