.header {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M0,160L20,133.3C40,107,80,53,120,48C160,43,200,85,240,133.3C280,181,320,235,360,234.7C400,235,440,181,480,181.3C520,181,560,235,600,224C640,213,680,139,720,101.3C760,64,800,64,840,69.3C880,75,920,85,960,80C1000,75,1040,53,1080,42.7C1120,32,1160,32,1200,48C1240,64,1280,96,1320,101.3C1360,107,1400,85,1420,74.7L1440,64L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: 0 110%;
  background-repeat: no-repeat;
  background-size: 100% auto;

}