.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  size: 40px;

  font-family: var(--font-family-icon);
  vertical-align: middle;

  border-radius: 50%;
  outline: none;

  & + & {
    margin-left: 1rem;
  }


  &::before {
    font-size: 20px / 0;
  }
}

// Modifiers

.social-link {
  $colors: (
    telegram:#ffffff,
    facebook:#ffffff,
    email:#ffffff,
  );

  $bg-colors: (
    telegram:#000,
    facebook:#000,
    email:#000
  );

  @each $social, $color in $colors {
    &--#{$social} {
      color: $color;
      background-color: map_get($bg-colors, $social);
    }

    &--#{$social}:hover,
    &--#{$social}:focus {
      color: $color;
      background-color: lighten(map_get($bg-colors, $social), 30%);
      text-decoration: none;
    }

    &--#{$social}::before {
      @extend .icon--#{$social}:before;
    }
  }
}
