@function px-to-em($px, $context : 16px) {
  @return ($px / $context) * 1em;
}

@function px-to-rem($px, $context : 16px) {
  @return ($px / $context) * 1rem;
}

@function px-to-vw($px, $context : 19.2px) {
  @return ($px / $context) * 1vw;
}

@function px-to-vh($px, $context : 10.8px) {
  @return ($px / $context) * 1vh;
}

@function strip-value($value) {
  @return $value / (($value * 0) + 1);
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function svgFormat($svg, $fill : '#000', $stroke : '#000') {
  @return str-replace("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color}' stroke='#{$stroke}' #{$svg} %3C/svg%3E", "#", "%23");
}

// remove space from string
@function str-replace($string, $search, $replace) {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// convert string to list
@function str-split($string, $separator) {
  $split-arr: ();
  $index : str-index($string, $separator);

  @while $index != null {
    $item: str-slice($string, 1, $index - 1);
    $split-arr: append($split-arr, unquote($item));
    $string: str-slice($string, $index + 1);
    $index : str-index($string, $separator);
  }
  $split-arr: append($split-arr, unquote($string));

  @return $split-arr;
}

// convert string to number
@function number($string) {
  // Matrices
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers: 0 1 2 3 4 5 6 7 8 9;

  // Result
  $result: 0;

  // Looping through all characters
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);

    @if not $index {
      @return false;
    }

    $number: nth($numbers, $index);
    $result: $result * 10 + $number;
  }

  @return $result;
}

@function convertStringToColor($colors) {
  $string: str-replace($colors, " ", "");
  $list: str-split($string, ',');
  $red: nth($list, 1);
  $green: nth($list, 2);
  $blue: nth($list, 3);

  $rgb: rgb(number($red), number($green), number($blue));

  @return $rgb;
}
