.quote {
  position: absolute;
  top: 50%;

  font-weight: 500;
  font-size: 50px;
  font-family: var(--font-family-alt);

  transform: translateY(-50%);

  &:before,
  &:after {
    font-family: var(--font-family-icon);
    font-size: 20px / 2;
    vertical-align: top;
  }

  &:before {
    @extend .icon--left-quote:before;
  }

  &:after {
    @extend .icon--right-quote:before;
    vertical-align: bottom;
  }
}


.quote {
  &--whity {
    color: white;
  }

  &--stable {
    position: static;
    transform: translateY(0%);
  }
}