#news-section {

}

#news-section .section--imaged {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url('../images/news.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}