#support-section {

}

#support-section .section--imaged {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/support.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}