.golden {
  overflow: hidden;
}

.golden {
  &--x,
  &--reverse-x {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    size: 100%;
  }

  &--y,
  &--reverse-y {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    size: 100%;
  }
}