.golden__item {
  position: relative;
  max-width: 100%;
  max-height: 100%;

  padding: $_ 15px;
}

.golden--x .golden__item {
  &:nth-child(1) {
    max-width: 61.80339887%;
    flex: 1.6180339 1 0;
  }

  &:nth-child(2) {
    max-width: 38.19660113%;
    flex: 1 1.6180339 0;
  }
}

.golden--reverse-x .golden__item {

  &:nth-child(1) {
    max-width: 38.19660113%;
    flex: 1 1.6180339 0;
  }

  &:nth-child(2) {
    max-width: 61.80339887%;
    flex: 1.6180339 1 0;
  }
}

.golden--y .golden__item {
  &:nth-child(1) {
    max-height: 61.80339887%;
    flex: 1.6180339 1 0;
  }

  &:nth-child(2) {
    max-height: 61.80339887%;
    flex: 1 1.6180339 0;
  }
}

.golden--reverse-y .golden__item {
  &:nth-child(1) {
    max-height: 38.19660113%;
    flex: 1 1.6180339 0;
  }

  &:nth-child(2) {
    max-height: 61.80339887%;
    flex: 1.6180339 1 0;
  }
}