.caption {
  position: relative;

  padding-bottom: 1rem;

  text-align: center;



  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid #000000;
    transition: 1s;
  }
}

// Modifiers

.caption {
  &--underlined {
    &:after {
      width: 100%;
    }
  }
}