.main-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 9rem;
  font-weight: 700;
  font-family: var(--font-family-alt);
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.main-caption strong {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 300;
  text-align: center;
  text-transform: none;

}