#learning-section  .section--imaged {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('../images/laerning.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}