.cloud {
  position: absolute;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  size: 100%;

  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;

  list-style: none;
}