.cloud__item {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: middle;


  $arr_fz : (1.25em, 1.4em, 2.5em, 1.25em, 1.5em, 1.3em, 2em, 1.1em, 1.35em);
  $arr_pt : (-0.75em, 1.65em, -1.15em, 0.45em, -3.15em, -0.85em, 0.35em, 0.15em, -0.45em);

  @for $ind from 1 to length($arr_fz) {
    &:nth-child(#{$ind}) {
      font-size: nth($arr_fz, $ind);
      padding-top: nth($arr_pt, $ind);
    }
  }

}